# Auto detect text files and perform LF normalization
* text eol=lf
*.js text
*.jdiff text
*.sht text
*.msg binary
*.wav binary
*.anm binary
*.png binary
*.ogg binary
*.rpy binary
*.ico binary
*.ecl binary